<div>

  <h1> ::TheMoneyApp:: Helping you budget, like a Pro! </h1>
</div>

<% @total = 0 %>
<% @transactions.each do |transaction| %>
  <% @total += transaction.price.to_i %>
<% end %>

<% if @total > @balance%>
  <h2> You have gone over budget! </h2>
<% else %>
  <h4> Your total spend is upto: £<%= @total %>. Whilst your budget for this month is £<%= @balance %>. That leaves £<%= @balance - @total %>. </h4>
<%end %>


<div>
  <h5> Summary of latest transactions </h5>

  <div id="transaction table">
    <table style="width:100%">
      <tr>
        <th> Name</th>
        <th> Price </th>
        <th> Vendor </th>
        <th> Tag </th>
        <th> Date </th>
        <th> Comments </th>
      </tr>
    <% @transactions_last_five.each do |transaction| %>
     <tr>
       <td><%= transaction.name %></td>
       <td>£<%= transaction.price %></td>
       <td><%= transaction.vendor.name %></td>
       <td><%= transaction.tag.category %></td>
       <td><%= transaction.date %></td>
       <td><%= transaction.comment %></td>
      <% end %>
      </tr>
   </table>
</div>

<h5> Here you can see your spending by category </h5>
<div>
  <div id="tag table">
     <table>
      <tr>
        <th> Category</th>
        <th> Spending </th>
      </tr>
    <% @tags.each do |tag| %>
     <tr>
       <td><%= tag.category %></td>
       <td> <%= tag.total %></td>
       <%end%>
    </tr>
  </table>
</div>
