<div>
  <h1> ::BudgetBored:: Short Term Budget, Long Term Goals </h1>
</div>

<div >
<% @total = 0 %>

<% @transactions.each do |transaction| %>
  <% @total += transaction.price.to_i %>
<% end %>

<% if @total > @balance%>
  <% @fail_total = @total - @balance %>
  <h2 class="warning-box">  Your goal budget was £<%= sprintf('%.2f', (@balance.to_f/100)) %> but you have gone over by £<%= sprintf('%.2f', (@fail_total.to_f/100)) %>.</h2>
<%end %>
</div>

<% @grand_total =  @balance - @total%>


<div>
  <table>
    <tr>
      <th>Goal Budget</th>
      <th>Spend so Far</th>
      <th>Budget Remaining</th>
    </tr>
   <tr>
     <td>£<%= sprintf('%.2f', (@balance.to_f/100)) %></td>
     <td>£<%= sprintf('%.2f', (@total.to_f/100)) %></td>
     <td>£<%= sprintf('%.2f', (@grand_total.to_f/100)) %></td>
    </tr>
 </table>


</div>
<div>
  <h5> Summary of the Last Five Transactions </h5>
</div>
  <div>
    <table>
      <tr>
        <th> Name</th>
        <th> Price </th>
        <th> Vendor </th>
        <th> Tag </th>
        <th> Date </th>
      </tr>
    <% @transactions_last_five.each do |transaction| %>
     <tr>
       <td><%= transaction.name %></td>
       <td>£<%= sprintf('%.2f', (transaction.price.to_f/100)) %></td>
       <td><%= StringHelper.titleize(transaction.vendor.name) %></td>
       <td><%= StringHelper.titleize(transaction.tag.category) %></td>
       <td><%= transaction.date %></td>
      <% end %>
      </tr>
   </table>
</div>


  <div>
     <table>
      <tr>
        <th> Category</th>
        <th> Spending </th>
      </tr>
    <% @tags.each do |tag| %>
     <tr>
       <td><%= StringHelper.titleize(tag.category) %></td>
       <td> £<%= sprintf('%.2f', (tag.total.to_f/100)) %></td>
       <%end%>
    </tr>
  </table>
</div>

<div>
  <table>
    <tr>
      <th> Vendor</th>
      <th> Spending</th>
    </tr>
  <% @vendors.each do |vendor| %>
   <tr>
     <td><%= StringHelper.titleize(vendor.name) %></td>
     <td> £<%= sprintf('%.2f', (vendor.total.to_f/100)) %></td>
    <% end %>
    </tr>
 </table>
</div>
