<div>

  <h1> TheMoneyApp </h1>

  <h3> Helping you budget, like a Pro! </h3>
</div>

<% @total = 0 %>
<% @transactions.each do |transaction| %>
  <% @total += transaction.price.to_i %>
<% end %>

<h5> Your total spend is upto: £<%= @total %> </h5>

<div>
  <p> Here are your latest transactions </p>

  <div id="transaction table">
    <table style="width:100%">
      <tr>
        <th> Name</th>
        <th> Price </th>
        <th> Vendor </th>
        <th> Tag </th>
        <th> Date </th>
        <th> Comments </th>
      </tr>
    <% @transactions_last_five.each do |transaction| %>
     <tr>
       <td><%= transaction.name %></td>
       <td>£<%= transaction.price %></td>
       <td><%= transaction.vendor.name %></td>
       <td><%= transaction.tag.category %></td>
       <td><%= transaction.date %></td>
       <td><%= transaction.comment %></td>
      <% end %>
      </tr>
   </table>
</div>
