
  <h1> ::BudgetBoard:: One Budget, Many Goals </h1>

<a href='/transaction/delete'>Clear the Board and Set a new Budget</a>

<% @total = 0 %>

<% @transactions.each do |transaction| %>
  <% @total += transaction.price.to_i %>
<% end %>

<% if @total > @balance%>
  <% @fail_total = @total - @balance %>
  <h2 class="warning-box">  Your goal budget was £<%= sprintf('%.2f', (@balance.to_f/100)) %> but you have gone over by £<%= sprintf('%.2f', (@fail_total.to_f/100)) %>.</h2>
<%end %>


<% @grand_total =  @balance - @total%>

<div id="dashboard" style="float: left;">
<div>
  <table>
    <tr>
      <th><a href='/budgets/1/edit'>Budget</a></th>
      <th><a href='/transactions'>Spent so far</a></th>
      <th><a href='/transactions/new'>Budget Remaining</a></th>
    </tr>
   <tr>
     <td>£<%= sprintf('%.2f', (@balance.to_f/100)) %></td>
     <td>£<%= sprintf('%.2f', (@total.to_f/100)) %></td>
     <td>£<%= sprintf('%.2f', (@grand_total.to_f/100)) %></td>
    </tr>
 </table>
</div>

<div style="float: right;">
  <h5> Summary of the Last Five Transactions </h5>
    <table>
      <tr>
        <th><a href='/transactions'>Transactions</a></th>
        <th><a href='/transactions'>Price</a></th>
        <th><a href='/vendors'>Vendors</a></th>
        <th><a href='/tags'>Categories</a> </th>
        <th><a href='/transactions'>Date</a></th>
      </tr>
    <% @transactions_last_five.each do |transaction| %>
     <tr>
       <td><%= transaction.name %></td>
       <td>£<%= sprintf('%.2f', (transaction.price.to_f/100)) %></td>
       <td><%= StringHelper.titleize(transaction.vendor.name) %></td>
       <td><%= StringHelper.titleize(transaction.tag.category) %></td>
       <td><%= transaction.date %></td>
      <% end %>
      </tr>
   </table>
</div>


  <div>
     <table>
      <tr>
        <th> <a href='/tags'>Categories</a></th>
        <th> <a href='/transactions'>Spent so far</a></th>
      </tr>
    <% @tags.each do |tag| %>
     <tr>
       <td><%= StringHelper.titleize(tag.category) %></td>
       <td> £<%= sprintf('%.2f', (tag.total.to_f/100)) %></td>
       <%end%>
    </tr>
  </table>
</div>

<div>
  <table>
    <tr>
      <th> <a href='/vendors'>Vendors</a></th>
      <th> <a href='/transactions'>Spent so far</a></th>
    </tr>
  <% @vendors.each do |vendor| %>
   <tr>
     <td><%= StringHelper.titleize(vendor.name) %></td>
     <td> £<%= sprintf('%.2f', (vendor.total.to_f/100)) %></td>
    <% end %>
    </tr>
 </table>
</div>
</div>
