<h2>All Transactions</h2>

 <a href='/transactions/new'>Add New Transaction</a> <a href='/tags'>Edit Categories</a> <a href='/vendors'>Edit Vendors</a>
<div id="transaction_table">
  <table style="width:100%">
    <tr>
      <th> Name</th>
      <th> Price </th>
      <th> Vendor </th>
      <th> Tag </th>
      <th> Date </th>
      <th> Comments </th>
      <th></th>
      <th></th>
    </tr>
  <% @transactions.each do |transaction| %>
   <tr>
     <td><%= transaction.name %></td>
     <td>£<%= sprintf('%.2f', (transaction.price.to_f/100)) %></td>
     <td><%= StringHelper.titleize(transaction.vendor.name) %></td>
     <td><%= StringHelper.titleize(transaction.tag.category) %></td>
     <td><%= transaction.date %></td>
     <td><%= transaction.comment %></td>
     <td> <a href="/transactions/<%= transaction.id %>/edit">Edit</a> </td>
     <td> <form action="/transactions/<%= transaction.id %>/delete" method="POST"><input type="submit" value="Delete"></form> </td>
    <% end %>
    </tr>
 </table>

</div>


</div>
