<h2><%=  %></h2>

<p>Name: <%= @transaction.name %></p>
<p>Price: £<%= sprintf('%.2f', (@transaction.price.to_f/100)) %></p>
<p>Vendor: <%= @transaction.vendor.name %></p>
<p>Date: <%= @transaction.date %></p>
<p>Category: <%= @transaction.tag.category.capitalize %></p>
<p>Comments: <%= @transaction.comment %></p>

<a href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a>
<form action="/transactions/<%= @transaction.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
<a href='/transactions/'>Back to Transactions</a>
